---
title: Home
content: src/content/home.md

talkCurrent: src/content/talk-current.md

meetupMonth1: Gennaio
meetupDay1: 13
meetupNumber1: 8

talkNext: src/content/talk-next.md

meetupMonth2: Febbraio
meetupDay2: 10
meetupNumber2: 9
---

<div class="full-dark">
  <header class="grid grid-pad">

    <h2 class="main">Prossimi incontri</h2>

    <div class="meetup-box col-1-2">

      <h3>Milano JS #{{meetupNumber1}} ore 19:00</h3>

      <div class="calendar">
        <span class="binds"></span>
        <span class="month">{{meetupMonth1}}</span>

        <div class="day">{{meetupDay1}}</div>
      </div>
      {{md talkCurrent}}
      <a href="http://www.eventbrite.it/e/biglietti-milano-js-15130688296?ref=ebtnebregn" target="_blank"><img src="https://www.eventbrite.it/custombutton?eid=15130688296" alt="Eventbrite - Milano JS" /></a>
    </div>

    <div class="meetup-box col-1-2">
      <h3>Milano JS #{{meetupNumber2}} ore 19:00</h3>

      <div class="calendar">
        <span class="binds"></span>
        <span class="month">{{meetupMonth2}}</span>

        <div class="day">{{meetupDay2}}</div>
      </div>
      {{md talkNext}}
    </div>
  </header>
</div>

<div class="grid grid-pad">
  <div class="col-2-3">
    {{md content}}
  </div>
  <div class="col-1-3">
    <div class="sponsor">
      <p>Milano JS is sponsored by:</p>
      <a href="https://www.jetbrains.com/"><img src="{{assets}}/img/jetbrains.png" alt="Jetbrains"></a>
    </div>
    <a class="twitter-timeline" href="https://twitter.com/Milano_JS" data-widget-id="411242779600097280">Tweets by
      @Milano_JS</a>
    <script>!function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
      if (!d.getElementById(id)) {
        js = d.createElement(s);
        js.id = id;
        js.src = p + "://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
      }
    }(document, "script", "twitter-wjs");</script>
  </div>
</div>
