---
title: Home
content: src/content/home.md

talkCurrent: src/content/talk-current.md

meetupMonth1: Dicembre
meetupDay1: 9
meetupNumber1: 7

talkNext: src/content/talk-next.md

meetupMonth2: Gennaio
meetupDay2: 13
meetupNumber2: 8
---

<div class="full-dark">
  <header class="grid grid-pad">
    <h2 class="main">Prossimi incontri</h2>

    <div class="meetup-box col-1-2">
      <h3>Milano JS #{{meetupNumber1}} ore 19:00</h3>

      <div class="calendar">
        <span class="binds"></span>
        <span class="month">{{meetupMonth1}}</span>

        <div class="day">{{meetupDay1}}</div>
      </div>
      {{md talkCurrent}}
    </div>

    <div class="meetup-box col-1-2">
      <h3>Milano JS #{{meetupNumber2}} ore 19:00</h3>

      <div class="calendar">
        <span class="binds"></span>
        <span class="month">{{meetupMonth2}}</span>

        <div class="day">{{meetupDay2}}</div>
      </div>
      {{md talkNext}}
    </div>
  </header>
</div>

<div class="grid grid-pad">
  <div class="col-2-3">
    {{md content}}
  </div>
  <div class="col-1-3">
    <a class="twitter-timeline" href="https://twitter.com/Milano_JS" data-widget-id="411242779600097280">Tweets by
      @Milano_JS</a>
    <script>!function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
      if (!d.getElementById(id)) {
        js = d.createElement(s);
        js.id = id;
        js.src = p + "://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
      }
    }(document, "script", "twitter-wjs");</script>
  </div>
</div>
